// ----------------
// Colours
// ----------------

.bg-dark {
  background-color: $clr-dark;
}

.bg-accent {
  background-color: $clr-accent;
}

.bg-accent-alpha20 {
  background-color: $clr-accent-a20;
}

.bg-white {
  background-color: $clr-white;
}

.text-dark {
  color: $clr-dark;
}

.text-accent {
  color: $clr-accent;
}

.text-white {
  color: $clr-white;
}
